<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
      <ol class="carousel-indicators">
        <li data-toggle="tooltip" data-title="Download Native JavaScript for Bootstrap" data-target="#myCarousel" data-slide-to="0" class="" data-original-title="Download Native JavaScript for Bootstrap"></li>
        <li data-toggle="tooltip" data-title="Getting started with Native JavaScript" data-target="#myCarousel" data-slide-to="1" data-original-title="Getting started with Native JavaScript" class="active"></li>
        <li data-toggle="tooltip" data-title="Why BSN?" data-target="#myCarousel" data-slide-to="2" data-original-title="Why BSN?" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
          <div class="item-bg bg-indigo"></div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>A better way to Bootstrap</h1>
              <p>The jQuery plugins for Bootstrap 4 redeveloped with native JavaScript, providing same basic functionality, but lighter in size and delivering higher performance for your application.</p>
              <p><a class="btn btn-lg btn-primary" href="https://github.com/thednp/bootstrap.native/archive/master.zip">Download Now</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="item-bg bg-pink"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>New to native JavaScript?</h1>
              <p>Have no worry, the internet is full of scripts and tutorials, <a style="color:#eee; text-decoration: underline" href="http://vanilla-js.com/" target="_blank">native JavaScript</a> is the coolest programing language ever! Far more powerful and requires almost <b>zero</b> maintenance on very long periods of time.</p>
              <p><a class="btn btn-lg btn-primary" href="http://blog.garstasio.com/you-dont-need-jquery/" target="_blank" role="button">Get started</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="item-bg bg-primary"></div>
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>What's the fuzz?</h1>
							<p>If you use mainly Bootstrap plugins in your projects, you may drop jQuery right away.<br>Why load jQuery if you don't really need it? It's too old school!</p>
              <p><a class="btn btn-lg btn-light" href="http://jsperf.com/jquery-vs-native-element-performance" target="_blank" role="button">See Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>