<div class="page-wrapper">
  <div class="container">
    <h2>Video Idea</h2>
    {{> _errors}}
    <div class="card card-body">
      <h3>Add your idea</h3>
      <form action="/ideas" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" />
      </div>
      <div class="form-group">
        <label for="title">Details</label>
        <textarea class="form-control" name="details"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
