<div class="page-wrapper">
  <div class="container">
    <h2>Videos</h2>
    {{#each ideas}}
      <div class="card card-body">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-primary">Edit</a>
      </div>
    {{else}}
      
    {{/each}}
  </div>
</div>


